USE [master]
GO
/****** Object:  Database [TpIngSoftware_2026]    Script Date: 15/04/2026 17:51:36 ******/
CREATE DATABASE [TpIngSoftware_2026]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpIngSoftware_2026', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TpIngSoftware_2026.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpIngSoftware_2026_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TpIngSoftware_2026_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpIngSoftware_2026].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpIngSoftware_2026]
GO
/****** Object:  User [DESKTOP-CD9KMBF\Seba]    Script Date: 15/04/2026 17:51:36 ******/
CREATE USER [DESKTOP-CD9KMBF\Seba] FOR LOGIN [DESKTOP-CD9KMBF\Seba] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 15/04/2026 17:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[ApellidoUsuario] [nvarchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
	[CorreoElectronico] [nvarchar](50) NOT NULL,
	[ContraseñaUsuario] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario]) VALUES (1, N'Sebastian', N'Fernandez', 44798632, N'sebigol@gmail.com', N'65f96dd63420e540a6005a1ff810bac475ef18a86afe1d50fbbd4aed19569879')
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario]) VALUES (2, N'Mario', N'Cajal', 44512884, N'mariocajal@gmail.com', N'cad10cf1c656952d9749a7ad2316b6c3e8afb1886c28b7e97c98a1a86277c8e6')
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario]) VALUES (3, N'test', N'test', 1234, N'test@test.com', N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08')
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 15/04/2026 17:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AltaUsuario]	
@NombreUsuario nvarchar(50), @ApellidoUsuario nvarchar(50), @Dni int, @CorreoElectronico nvarchar(50), @ContraseñaUsuario nvarchar(300)
AS
BEGIN
DECLARE @IdUsuario int
SET @IdUsuario = (Select isnull(MAX(IdUsuario),0)+1 FROM USUARIO)
INSERT INTO USUARIO (IdUsuario, NombreUsuario, ApellidoUsuario, Dni, CorreoElectronico, ContraseñaUsuario)
VALUES (@IdUsuario, @NombreUsuario, @ApellidoUsuario, @Dni, @CorreoElectronico, @ContraseñaUsuario)
END
GO
/****** Object:  StoredProcedure [dbo].[LeerUsuario]    Script Date: 15/04/2026 17:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LeerUsuario]
@CorreoElectronico nvarchar(50), @ContraseñaUsuario nvarchar(300)
AS
BEGIN
SELECT NombreUsuario
      ,ApellidoUsuario
      ,Dni
      ,CorreoElectronico
      ,ContraseñaUsuario
	  ,IdUsuario
	  FROM USUARIO
WHERE CorreoElectronico = @CorreoElectronico
AND ContraseñaUsuario = @ContraseñaUsuario
END
GO
USE [master]
GO
