USE [master]
GO
/****** Objeto: Database [TpIngSoftware_2026] Fecha de script: 07/06/2026 18:50:58 ******/
CREATE DATABASE [TpIngSoftware_2026]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpIngSoftware_2026', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TpIngSoftware_2026.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpIngSoftware_2026_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TpIngSoftware_2026_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpIngSoftware_2026].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpIngSoftware_2026]
GO
/****** Objeto: Table [dbo].[BITACORA] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[IdBitacora] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Actividad] [varchar](100) NOT NULL,
	[InformacionAsociada] [varchar](200) NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Control] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Control](
	[IdControl] [int] IDENTITY(1,1) NOT NULL,
	[NombreControl] [nvarchar](100) NOT NULL,
	[NombreFormulario] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Control] PRIMARY KEY CLUSTERED 
(
	[IdControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CONTROL_CAMBIOS] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROL_CAMBIOS](
	[IdCambio] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[CampoModificado] [nvarchar](100) NOT NULL,
	[ValorAnterior] [nvarchar](300) NULL,
	[ValorActual] [nvarchar](300) NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[TipoOperacion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONTROL_CAMBIOS] PRIMARY KEY CLUSTERED 
(
	[IdCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DIGITO_VERIFICADOR] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIGITO_VERIFICADOR](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_DIGITO_VERIFICADOR] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[IsDisponible] [bit] NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PERMISO] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsFamilia] [bit] NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PERMISO_RELACION] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO_RELACION](
	[IdPadre] [int] NOT NULL,
	[IdHijo] [int] NOT NULL,
 CONSTRAINT [PK_Permiso_Relacion] PRIMARY KEY CLUSTERED 
(
	[IdPadre] ASC,
	[IdHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PRODUCTO] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] NOT NULL,
	[NombreProducto] [nvarchar](50) NOT NULL,
	[PrecioProducto] [decimal](18, 0) NOT NULL,
	[TipoProducto] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CodigoProducto] [int] NOT NULL,
	[DVH] [nvarchar](300) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Traduccion] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdControl] [int] NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[TextoTraducido] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIO] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[ApellidoUsuario] [nvarchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
	[CorreoElectronico] [nvarchar](50) NOT NULL,
	[ContraseñaUsuario] [nvarchar](300) NOT NULL,
	[IdIdioma] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIO_PERMISO] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[IdUsuario] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BITACORA] ([IdBitacora], [IdUsuario], [FechaHora], [Actividad], [InformacionAsociada]) VALUES (1, 1, CAST(N'2026-05-06T21:27:09.547' AS DateTime), N'Inicio de sesion', N'Usuario: test@test.com')
INSERT [dbo].[BITACORA] ([IdBitacora], [IdUsuario], [FechaHora], [Actividad], [InformacionAsociada]) VALUES (2, 1, CAST(N'2026-05-06T21:28:14.167' AS DateTime), N'Cierre de sesion', N'El Usuario: test@test.com Cerró la sesion.')
INSERT [dbo].[BITACORA] ([IdBitacora], [IdUsuario], [FechaHora], [Actividad], [InformacionAsociada]) VALUES (3, 1, CAST(N'2026-05-06T21:34:07.200' AS DateTime), N'Inicio de sesion', N'Usuario: test@test.com')
GO
SET IDENTITY_INSERT [dbo].[Control] ON 

INSERT [dbo].[Control] ([IdControl], [NombreControl], [NombreFormulario]) VALUES (1, N'lblLeyendaIniciofrmLogin', N'frmLogin')
INSERT [dbo].[Control] ([IdControl], [NombreControl], [NombreFormulario]) VALUES (2, N'lblCorreoElectronicofrmLogin', N'frmLogin')
INSERT [dbo].[Control] ([IdControl], [NombreControl], [NombreFormulario]) VALUES (3, N'lblContraseñafrmLogin', N'frmLogin')
SET IDENTITY_INSERT [dbo].[Control] OFF
GO
INSERT [dbo].[DIGITO_VERIFICADOR] ([NombreTabla], [DVV]) VALUES (N'PRODUCTO', N'c33bc7d90946fbd7d5cfb7086c50a3e2e6e970978a38c005d5c7ba589fc0ca25')
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [IsDisponible]) VALUES (1, N'Español', 1)
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [IsDisponible]) VALUES (2, N'English', 1)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) VALUES (1, N'Gestion Usuarios', 0)
INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) VALUES (2, N'Gestion Productos', 0)
INSERT [dbo].[PERMISO] ([Id], [Nombre], [EsFamilia]) VALUES (3, N'Auditoria', 0)
GO
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo]) VALUES (10, 1)
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo]) VALUES (10, 2)
INSERT [dbo].[PERMISO_RELACION] ([IdPadre], [IdHijo]) VALUES (10, 3)
GO
INSERT [dbo].[PRODUCTO] ([IdProducto], [NombreProducto], [PrecioProducto], [TipoProducto], [Descripcion], [Cantidad], [CodigoProducto], [DVH]) VALUES (1, N'Lapicera', CAST(100 AS Decimal(18, 0)), N'Lapicera Bic', N'Trazo Fino', 5, 1, N'55e2be15c0fb4ba8231701c4ba65d545715b7c79761952fd8a7cc75cf6afb602')
INSERT [dbo].[PRODUCTO] ([IdProducto], [NombreProducto], [PrecioProducto], [TipoProducto], [Descripcion], [Cantidad], [CodigoProducto], [DVH]) VALUES (2, N'Regla', CAST(200 AS Decimal(18, 0)), N'ReglaPlastico', N'Transparente', 10, 2, N'25f928ab511b27b15d4d8248f45a661397acdc6b45086937e6726cc94617af73')
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([IdTraduccion], [IdControl], [IdIdioma], [TextoTraducido]) VALUES (1, 1, 1, N'¡Bienvenido a nuestro sistema!')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdControl], [IdIdioma], [TextoTraducido]) VALUES (2, 2, 1, N'Correo Electrónico')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdControl], [IdIdioma], [TextoTraducido]) VALUES (3, 3, 1, N'Contraseña')
GO
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario], [IdIdioma]) VALUES (1, N'test', N'test', 12345678, N'test@test.com', N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08', NULL)
INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUsuario], [ApellidoUsuario], [Dni], [CorreoElectronico], [ContraseñaUsuario], [IdIdioma]) VALUES (2, N'Mario', N'Cajal', 11222333, N'mario@cajal.com', N'5f5a8ed8f139be6df7cf8f4a91d3e4649961a98c82fd521c18d6f292b031a319', NULL)
GO
INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso]) VALUES (1, 10)
INSERT [dbo].[USUARIO_PERMISO] ([IdUsuario], [IdPermiso]) VALUES (2, 11)
GO
ALTER TABLE [dbo].[CONTROL_CAMBIOS] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Idioma] ADD  CONSTRAINT [DF_Idioma_IsDisponible]  DEFAULT ((1)) FOR [IsDisponible]
GO
ALTER TABLE [dbo].[PERMISO] ADD  DEFAULT ((0)) FOR [EsFamilia]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_USUARIO] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_USUARIO]
GO
ALTER TABLE [dbo].[CONTROL_CAMBIOS]  WITH CHECK ADD  CONSTRAINT [FK_CC_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[CONTROL_CAMBIOS] CHECK CONSTRAINT [FK_CC_Producto]
GO
ALTER TABLE [dbo].[CONTROL_CAMBIOS]  WITH CHECK ADD  CONSTRAINT [FK_CC_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[CONTROL_CAMBIOS] CHECK CONSTRAINT [FK_CC_Usuario]
GO
ALTER TABLE [dbo].[PERMISO_RELACION]  WITH CHECK ADD  CONSTRAINT [FK_PR_Hijo] FOREIGN KEY([IdHijo])
REFERENCES [dbo].[PERMISO] ([Id])
GO
ALTER TABLE [dbo].[PERMISO_RELACION] CHECK CONSTRAINT [FK_PR_Hijo]
GO
ALTER TABLE [dbo].[PERMISO_RELACION]  WITH CHECK ADD  CONSTRAINT [FK_PR_Padre] FOREIGN KEY([IdPadre])
REFERENCES [dbo].[PERMISO] ([Id])
GO
ALTER TABLE [dbo].[PERMISO_RELACION] CHECK CONSTRAINT [FK_PR_Padre]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Control] FOREIGN KEY([IdControl])
REFERENCES [dbo].[Control] ([IdControl])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Control]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_UP_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[PERMISO] ([Id])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_UP_Permiso]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_UP_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_UP_Usuario]
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarDVHProducto] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP ActualizarDVHProducto
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[ActualizarDVHProducto]
    @IdProducto INT,
    @DVH        NVARCHAR(300)
AS BEGIN
    UPDATE PRODUCTO SET DVH = @DVH WHERE IdProducto = @IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarIdiomaUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarIdiomaUsuario]
    @IdUsuario INT,
    @IdIdioma  INT
AS
    UPDATE USUARIO
    SET    IdIdioma = @IdIdioma
    WHERE  IdUsuario = @IdUsuario

GO
/****** Objeto: StoredProcedure [dbo].[AgregarPermisoHijo] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarPermisoHijo]
    @IdPadre INT,
    @IdHijo  INT
AS BEGIN
    IF NOT EXISTS (SELECT 1 FROM PERMISO_RELACION
                   WHERE IdPadre = @IdPadre AND IdHijo = @IdHijo)
        INSERT INTO PERMISO_RELACION (IdPadre, IdHijo)
        VALUES (@IdPadre, @IdHijo)
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaControlCambios] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Alta Control Cambios
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[AltaControlCambios]
    @IdUsuario       INT,
    @IdProducto      INT,
    @CampoModificado NVARCHAR(100),
    @ValorAnterior   NVARCHAR(300),
    @ValorActual     NVARCHAR(300),
    @FechaModificacion DATETIME,
    @TipoOperacion   NVARCHAR(50)
AS BEGIN
    INSERT INTO CONTROL_CAMBIOS
        (IdUsuario, IdProducto, CampoModificado, ValorAnterior,
         ValorActual, FechaModificacion, TipoOperacion)
    VALUES
        (@IdUsuario, @IdProducto, @CampoModificado, @ValorAnterior,
         @ValorActual, @FechaModificacion, @TipoOperacion)
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaPermiso] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaPermiso]
    @Nombre    NVARCHAR(100),
    @EsFamilia BIT
AS BEGIN
    DECLARE @Id INT
    SET @Id = (SELECT ISNULL(MAX(Id), 0) + 1 FROM PERMISO)
    INSERT INTO PERMISO (Id, Nombre, EsFamilia)
    VALUES (@Id, @Nombre, @EsFamilia)
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaProducto] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaProducto]
    @CodigoProducto  INT,
    @NombreProducto  NVARCHAR(50),
    @PrecioProducto  DECIMAL,
    @TipoProducto    NVARCHAR(50),
    @Descripcion     NVARCHAR(300),
    @Cantidad        INT,
    @DVH             NVARCHAR(300)
AS BEGIN
    IF EXISTS (SELECT 1 FROM PRODUCTO WHERE CodigoProducto = @CodigoProducto)
    BEGIN
        RAISERROR('Ya existe un producto con ese código.',16,1)
        RETURN
    END
    DECLARE @IdProducto INT
    SET @IdProducto = (SELECT ISNULL(MAX(IdProducto),0)+1 FROM PRODUCTO)
    INSERT INTO PRODUCTO (IdProducto, CodigoProducto, NombreProducto,
                          PrecioProducto, TipoProducto, Descripcion, Cantidad, DVH)
    VALUES (@IdProducto, @CodigoProducto, @NombreProducto,
            @PrecioProducto, @TipoProducto, @Descripcion, @Cantidad, @DVH)
    SELECT @IdProducto AS IdProducto  -- ← devolver el ID
END
GO
/****** Objeto: StoredProcedure [dbo].[AltaUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaUsuario]
(
    @CorreoElectronico NVARCHAR(50),
    @ContraseñaUsuario NVARCHAR(300),
    @NombreUsuario NVARCHAR(50),
    @ApellidoUsuario NVARCHAR(50),
    @Dni INT
)
AS
BEGIN
IF EXISTS (SELECT 1 FROM USUARIO WHERE CorreoElectronico = @CorreoElectronico)
BEGIN
RAISERROR('Ya existe un usuario con ese correo electrónico.',16,1)
RETURN
END

IF EXISTS (SELECT 1 FROM USUARIO WHERE Dni = @Dni)
BEGIN
RAISERROR('Ya existe un usuario con ese DNI.',16,2)
RETURN
END

DECLARE @IdUsuario INT
SET @IdUsuario =(SELECT ISNULL(MAX(IdUsuario),0) + 1 FROM USUARIO)
INSERT INTO USUARIO(IdUsuario,CorreoElectronico,ContraseñaUsuario,NombreUsuario,ApellidoUsuario,Dni)
VALUES(@IdUsuario,@CorreoElectronico,@ContraseñaUsuario,@NombreUsuario,@ApellidoUsuario,@Dni)
END
GO
/****** Objeto: StoredProcedure [dbo].[AsignarPermisoAUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AsignarPermisoAUsuario]
    @IdUsuario INT,
    @IdPermiso INT
AS BEGIN
    IF NOT EXISTS (SELECT 1 FROM USUARIO_PERMISO
                   WHERE IdUsuario = @IdUsuario AND IdPermiso = @IdPermiso)
        INSERT INTO USUARIO_PERMISO (IdUsuario, IdPermiso)
        VALUES (@IdUsuario, @IdPermiso)
END
GO
/****** Objeto: StoredProcedure [dbo].[BajaProducto] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BajaProducto]
@IdProducto int 
AS
BEGIN
DELETE FROM PRODUCTO WHERE IdProducto=@IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[BajaUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BajaUsuario]
@IdUsuario int 
AS
BEGIN
DELETE FROM USUARIO WHERE IdUsuario=@IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[EliminarPermiso] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarPermiso]
    @Id INT
AS BEGIN
    DELETE FROM PERMISO_RELACION WHERE IdPadre = @Id OR IdHijo = @Id
    DELETE FROM USUARIO_PERMISO   WHERE IdPermiso = @Id
    DELETE FROM PERMISO           WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[EsHijoDeAlguien] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EsHijoDeAlguien]
    @IdHijo INT
AS BEGIN
    SELECT IdPadre FROM PERMISO_RELACION WHERE IdHijo = @IdHijo
END
GO
/****** Objeto: StoredProcedure [dbo].[GuardarDVV] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP GuardarDVV
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[GuardarDVV]
    @NombreTabla NVARCHAR(50),
    @DVV         NVARCHAR(300)
AS BEGIN
    IF EXISTS (SELECT 1 FROM DIGITO_VERIFICADOR WHERE NombreTabla = @NombreTabla)
        UPDATE DIGITO_VERIFICADOR SET DVV = @DVV WHERE NombreTabla = @NombreTabla
    ELSE
        INSERT INTO DIGITO_VERIFICADOR (NombreTabla, DVV) VALUES (@NombreTabla, @DVV)
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarBitacora] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarBitacora]
    @IdUsuario INT,
    @Actividad VARCHAR(100),
    @InformacionAsociada VARCHAR(200)
AS
BEGIN
DECLARE @NuevoId INT;
SELECT @NuevoId = ISNULL(MAX(IdBitacora), 0) + 1 FROM BITACORA;

INSERT INTO BITACORA (
        IdBitacora,   
        IdUsuario, 
        FechaHora, 
        Actividad, 
        InformacionAsociada
    )
VALUES (
        @NuevoId,       -- Insertamos el número que acabamos de calcular
        @IdUsuario, 
        GETDATE(), 
        @Actividad, 
        @InformacionAsociada
    );

END
GO
/****** Objeto: StoredProcedure [dbo].[LeerUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LeerUsuario]
@CorreoElectronico nvarchar(50), @ContraseñaUsuario nvarchar(300)
AS
BEGIN
SELECT NombreUsuario
      ,ApellidoUsuario
      ,Dni
      ,CorreoElectronico
      ,ContraseñaUsuario
	  ,IdUsuario
	  FROM USUARIO
WHERE CorreoElectronico = @CorreoElectronico
AND ContraseñaUsuario = @ContraseñaUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarCambiosPorProducto] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Listar cambios por producto
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[ListarCambiosPorProducto]
    @IdProducto INT
AS BEGIN
    SELECT CC.IdCambio, CC.IdUsuario, CC.IdProducto,
           CC.CampoModificado, CC.ValorAnterior, CC.ValorActual,
           CC.FechaModificacion, CC.TipoOperacion
    FROM CONTROL_CAMBIOS CC
    WHERE CC.IdProducto = @IdProducto
    ORDER BY CC.IdCambio DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarControlCambios] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Listar todos los cambios
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[ListarControlCambios]
AS BEGIN
    SELECT CC.IdCambio, CC.IdUsuario, CC.IdProducto,
           CC.CampoModificado, CC.ValorAnterior, CC.ValorActual,
           CC.FechaModificacion, CC.TipoOperacion
    FROM CONTROL_CAMBIOS CC
    ORDER BY CC.IdCambio DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisos] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarPermisos]
AS BEGIN
    SELECT Id, Nombre, EsFamilia FROM PERMISO
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisosPorUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarPermisosPorUsuario]
    @IdUsuario INT
AS BEGIN
    SELECT IdPermiso FROM USUARIO_PERMISO WHERE IdUsuario = @IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisosRaiz] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarPermisosRaiz]
AS BEGIN
    SELECT Id FROM PERMISO
    WHERE Id NOT IN (SELECT IdHijo FROM PERMISO_RELACION)
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarPermisosRelaciones] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarPermisosRelaciones]
AS BEGIN
    SELECT IdPadre, IdHijo FROM PERMISO_RELACION
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarProducto] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarProducto]
AS BEGIN
    SELECT IdProducto, NombreProducto, PrecioProducto, TipoProducto,
           Descripcion, Cantidad, CodigoProducto, DVH
    FROM PRODUCTO
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarProductoConDVH] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP ListarProductoConDVH
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[ListarProductoConDVH]
AS BEGIN
    SELECT IdProducto, NombreProducto, PrecioProducto, TipoProducto,
           Descripcion, Cantidad, CodigoProducto, DVH
    FROM PRODUCTO
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarUsuario]
AS
BEGIN
SELECT * FROM USUARIO
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarPermiso] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarPermiso]
    @Id        INT,
    @Nombre    NVARCHAR(100),
    @EsFamilia BIT
AS BEGIN
    UPDATE PERMISO SET Nombre = @Nombre, EsFamilia = @EsFamilia
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarProducto] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  MODIFICAR SP ModificarProducto
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[ModificarProducto]
    @IdProducto     INT,
    @NombreProducto NVARCHAR(50),
    @PrecioProducto DECIMAL,
    @TipoProducto   NVARCHAR(50),
    @Cantidad       INT,
    @Descripcion    NVARCHAR(300),
    @CodigoProducto INT,
    @DVH            NVARCHAR(300)
AS BEGIN
    UPDATE PRODUCTO SET
        NombreProducto = @NombreProducto,
        PrecioProducto = @PrecioProducto,
        TipoProducto   = @TipoProducto,
        Cantidad       = @Cantidad,
        Descripcion    = @Descripcion,
        CodigoProducto = @CodigoProducto,
        DVH            = @DVH
    WHERE IdProducto = @IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ModificarUsuario] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarUsuario]
@IdUsuario int, @NombreUsuario nvarchar(50), @ApellidoUsuario nvarchar(50), @Dni int, @CorreoElectronico nvarchar(50), @ContraseñaUsuario nvarchar(300) 
AS
BEGIN
UPDATE USUARIO SET NombreUsuario = @NombreUsuario, ApellidoUsuario = @ApellidoUsuario, Dni = @Dni,
CorreoElectronico = @CorreoElectronico, ContraseñaUsuario = @ContraseñaUsuario
WHERE IdUsuario = @IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerBitacora] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacora]
    @IdUsuario INT = NULL,
    @Actividad VARCHAR(100) = NULL,
    @FechaDesde DATETIME = NULL,
    @FechaHasta DATETIME = NULL
AS
BEGIN
   SELECT 
        IdBitacora,
        FechaHora, 
        IdUsuario, 
        Actividad, 
        InformacionAsociada
    FROM 
        BITACORA
    WHERE 
        -- Filtra por IdUsuario solo si se envió un valor
        (@IdUsuario IS NULL OR IdUsuario = @IdUsuario)
        
        -- Filtra por Actividad solo si se envió un valor (búsqueda exacta)
        AND (@Actividad IS NULL OR Actividad = @Actividad)
        
        -- Filtra por rango de fechas. Si solo envías 'Desde', trae de ahí en adelante.
        -- Si solo envías 'Hasta', trae todo hasta esa fecha.
        AND (@FechaDesde IS NULL OR FechaHora >= @FechaDesde)
        AND (@FechaHasta IS NULL OR FechaHora <= @FechaHasta)
    
    --Ordenamos los resultados del más reciente al más antiguo
    ORDER BY 
        FechaHora DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerDVV] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  NUEVO SP ObtenerDVV
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[ObtenerDVV]
    @NombreTabla NVARCHAR(50)
AS BEGIN
    SELECT NombreTabla, DVV
    FROM DIGITO_VERIFICADOR
    WHERE NombreTabla = @NombreTabla
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerProductoPorId] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProductoPorId]
    @IdProducto INT
AS
BEGIN
    SELECT IdProducto, NombreProducto, PrecioProducto,
           TipoProducto, Descripcion, Cantidad, CodigoProducto, DVH
    FROM PRODUCTO
    WHERE IdProducto = @IdProducto
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerTraduccionesPorIdioma] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTraduccionesPorIdioma]
    @IdIdioma INT
AS
BEGIN
    SELECT
        c.NombreControl,
        c.NombreFormulario,
        COALESCE(
            t_pedido.TextoTraducido,               -- 1ro: traduccion del idioma pedido
            '[' + t_espanol.TextoTraducido + ']',  -- 2do: texto en espanol entre corchetes
            '[' + c.NombreControl + ']'            -- 3ro: nombre del control (ultimo recurso)
        ) AS TextoTraducido
    FROM Control c
    LEFT JOIN Traduccion t_pedido
        ON  t_pedido.IdControl = c.IdControl
        AND t_pedido.IdIdioma  = @IdIdioma
    LEFT JOIN Traduccion t_espanol
        ON  t_espanol.IdControl = c.IdControl
        AND t_espanol.IdIdioma  = 1              -- espanol siempre como base
END

GO
/****** Objeto: StoredProcedure [dbo].[QuitarPermisoHijo] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[QuitarPermisoHijo]
    @IdPadre INT,
    @IdHijo  INT
AS BEGIN
    DELETE FROM PERMISO_RELACION
    WHERE IdPadre = @IdPadre AND IdHijo = @IdHijo
END
GO
/****** Objeto: StoredProcedure [dbo].[RealizarBackup] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ══════════════════════════════════════════
--  SP: Realizar Backup de BD completa
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[RealizarBackup]
    @RutaDestinoCompleta NVARCHAR(500)
AS BEGIN
    DECLARE @sql NVARCHAR(1000)
    SET @sql = 'BACKUP DATABASE [TpIngSoftware_2026] TO DISK = ''' 
               + @RutaDestinoCompleta + ''' WITH FORMAT, INIT, NAME = ''Backup completo'''
    EXEC sp_executesql @sql
END
GO
/****** Objeto: StoredProcedure [dbo].[RealizarRestore] Fecha de script: 07/06/2026 18:50:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════
--  SP: Realizar Restore de BD completa
-- ══════════════════════════════════════════
CREATE PROCEDURE [dbo].[RealizarRestore]
    @RutaDestinoCompleta NVARCHAR(500)
AS BEGIN
    DECLARE @sql NVARCHAR(1000)

    -- Poner la BD en modo single user para el restore
    SET @sql = 'ALTER DATABASE [TpIngSoftware_2026] SET SINGLE_USER WITH ROLLBACK IMMEDIATE'
    EXEC sp_executesql @sql

    -- Realizar el restore
    SET @sql = 'RESTORE DATABASE [TpIngSoftware_2026] FROM DISK = ''' 
               + @RutaDestinoCompleta + ''' WITH REPLACE'
    EXEC sp_executesql @sql

    -- Volver a modo multi user
    SET @sql = 'ALTER DATABASE [TpIngSoftware_2026] SET MULTI_USER'
    EXEC sp_executesql @sql
END
GO
USE [master]
GO
